

//variable here
$grayColor : #868b8e;
$lightColor : #f1f1ee;
$betColor : #B9B7BD;
$priColor : #c2a8a1;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    height: 100%;
    width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: $grayColor
}
a:hover{
    color: $priColor
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

header{
    .contain{
        width: 80%;
        margin: 0 auto;
        padding: 20px 10px;
        .main-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                height: 80px;
                width: auto;;
                img{   
                object-fit: contain;
                }
            }
            .toggle-button{
                font-size: 22px;
                cursor: pointer;
                &.active .open{
                    display: none;
                }

                &.active .close{
                    display: block;
                }
                .close{
                    display: none;
                }
            }
        }
    }
    .side-bar{
        width: 100%;
        max-width: 400px;
        background-color: $lightColor;
        padding: 20px 0;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -100%;
        transition: .3s;
        &.active{
            left: 0;
        }
        .logo{
            width: 60px;
            margin: 0 auto;
        }

        .nav-menu{
            display: block;
            padding: 20px 30px;
            li{
                padding: 10px 0;
                transition: .3s;
            }
            :hover a{
                color: $priColor
            }
            a{
                display: block;
            }
        }
        .socila-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            a{
                font-size: 22px;
                transition: .3s 
            }
            :hover{
                color: $priColor
            }
            
        }
    }
}